<h2>Products</h2>



<div class="row">
  <% @products.each do |product| %>
    <div class="col s3">
      <div class="card cyan darken-1">
        <div class="card-content white-text">
          <span class="card-title">
            <%= product.name %> - $<%= product.price %></span>
            <div class="card-action"><%= link_to 'Add to Cart', add_to_cart_path(product), method: :post, data: { confirm: 'Added to cart!' } %></div>
           </div>
         </div>
      </div>
  <% end %>
</div>
